<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/meta') %>
</head>
<body>
    
    <%- include('./partials/header') %>
    
    <%- include('./partials/main') %>
    
    <%- include('./partials/section') %>

    <%- include('./partials/footer') %>

  
</body>
</html>